hostname {{ hostname }}
!
interface Loopback0
 ip address {{ interface.isis }} 255.255.255.255
 ip router isis
!
{% for interface in interfaces %}
!
 ip address {{ interface }}
 no shut
{% endfor %}
!