hostname {{ hostname }}
!
{% for vrf in vrfs %}
vrf definition {{ vrf.vrf }}
 rd {{ bgp_asn }}:{{ (loopback0_ip_address)[-1] }}
 route-target both {{ vrf.route_target }}
 !
 address-family ipv4
 exit-address-family
!
{% endfor %}
interface Loopback0
 ip address {{ loopback0_ip_address }} 255.255.255.255
 ip router isis
!
{% for interface in interfaces %}
!
interface GigabitEthernet{{ interface.interface_id }}
{% if interface.vrf is defined %}
 vrf forwarding {{ interface.vrf }}
{% else %} 
{% endif %}
{% if interface.isis is defined %}
 ip router isis
 mpls ip
{% else %}  
{% endif %}
 ip address {{ interface.ip_address }}
 no shut
{% endfor %}
!
{% if isis is defined %}
router isis
 net 49.0001.0000.0000.000{{ (loopback0_ip_address)[-1] }}.00
 metric-style wide
 is-type level-2-only
!
{% else %} 
{% endif %}
router bgp {{ bgp_asn }}
{% for peer in bgp %}
 bgp log-neighbor-changes
 neighbor {{ peer.neighbor }} remote-as {{ peer.remote_as }}
 !
{% endfor %}
 !
{% for peer in bgp %}
 address-family vpnv4
  neighbor {{ peer.neighbor }} activate
  neighbor {{ peer.neighbor }} send-community extended
 exit-address-family
 !
{% endfor %}
{% for vrf in vrfs %}
 address-family ipv4 vrf {{ vrf.vrf }}
  redistribute connected
{% if vrf.neighbor is defined %}
  neighbor {{ vrf.neighbor }} remote-as {{ vrf.remote_as }}
  neighbor {{ vrf.neighbor }} activate
  neighbor {{ vrf.neighbor }} send-community
  neighbor {{ vrf.neighbor }} route-map Allow out
 !
{% else %} 
{% endif %}

 exit-address-family
!
{% endfor %}
!
route-map Allow permit 10