hostname {{ data.cisco.hostname }}
!
interface Loopback0
 ip address {{ data.cisco.loopback0_ip_address }} 255.255.255.255
!
{% for interface in data.cisco.interfaces %}
!
interface GigabitEthernet{{ interface.interface_id }}
 ip address {{ interface.ip_address }}
 no shut
{% endfor %}
!
router bgp {{ data.cisco.bgp_asn }}
{% for peer in data.cisco.bgp %}
 bgp log-neighbor-changes
 neighbor {{ peer.neighbor }} remote-as {{ peer.remote_as }}
 neighbor {{ peer.neighbor }} send-community
 !
{% endfor %}
 !
!
route-map Allow permit 10