 <config>
    <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
      <hostname>{{ hostname }}</hostname>
      {% if vrfs is defined %}  
      {% for vrf in vrfs %}
      <vrf operation="replace">
        <definition>
          <name>{{ vrf.vrf }}</name>
          <rd>{{ bgp_asn }}:{{ (vrf.route_target).split(":")[1] }}</rd>
          <address-family>
            <ipv4/>
          </address-family>
          <route-target>
            <export>
              <asn-ip>{{ vrf.route_target }}</asn-ip>
            </export>
            <import>
              <asn-ip>{{ vrf.route_target }}</asn-ip>
            </import>
          </route-target>
        </definition>
      </vrf>
      {% endfor %}
      {% endif %}  
      <ip>
        <route>
          <ip-route-interface-forwarding-list>
            <prefix>0.0.0.0</prefix>
            <mask>0.0.0.0</mask>
            <fwd-list>
              <fwd>192.168.99.1</fwd>
            </fwd-list>
          </ip-route-interface-forwarding-list>
        </route>
      </ip>
      <interface>
      {% for interface in interfaces %}
        <GigabitEthernet>
          <name>{{ interface.interface_id }}</name>
          <shutdown/>
      {% if interface.vrf is defined %}    
          <vrf>
            <forwarding>{{ interface.vrf }}</forwarding>
          </vrf>
      {% endif %}            
      {% if interface.isis is defined %}       
          <mpls>
            <ip xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-mpls"/>
          </mpls>
      {% endif %}    
          <ip>
            <address>
              <primary>
                <address>{{ interface.ip_address }}</address>
                <mask>{{ interface.mask }}</mask>
              </primary>
            </address>
      {% if interface.isis is defined %}      
            <router>
              <isis/>
            </router> 
      {% endif %}           
          </ip>
          <mop>
            <enabled>false</enabled>
            <sysid>false</sysid>
          </mop>
          <negotiation xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ethernet">
            <auto>true</auto>
          </negotiation>
        </GigabitEthernet>
        <GigabitEthernet>
          <name>{{ interface.interface_id }}</name>   
          <shutdown operation="delete"/>
        </GigabitEthernet> 
        {% endfor %}
        <Loopback>
          <name>0</name>
          <ip>
            <address>
              <primary>
                <address>{{ loopback0_ip_address }}</address>
                <mask>255.255.255.255</mask>
              </primary>
            </address>
            <router>
              <isis/>
            </router>
          </ip>
        </Loopback>
      </interface>
      <route-map>
        <name>Allow</name>
        <route-map-without-order-seq xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-route-map">
          <seq_no>10</seq_no>
          <operation>permit</operation>
        </route-map-without-order-seq>
      </route-map>
      <router operation="replace">
        <bgp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-bgp">
          <id>{{ bgp_asn }}</id>
          <bgp operation="replace">
            <log-neighbor-changes>true</log-neighbor-changes>
          </bgp>
      {% for peer in bgp %}    
          <neighbor>
            <id>{{ peer.neighbor }}</id>
            <remote-as>{{ peer.remote_as }}</remote-as>
            <update-source>
              <Loopback>0</Loopback>
            </update-source>
          </neighbor>
      {% endfor %}
      {% for vrf in vrfs %}   
          <address-family>
            <with-vrf>
              <ipv4>
                <af-name>unicast</af-name>
                <vrf>
                  <name>{{ vrf.vrf }}</name>
                  <ipv4-unicast>
                    <neighbor>
                      <id>{{ vrf.neighbor }}</id>
                      <remote-as>{{ vrf.remote_as }}</remote-as>
                      <activate/>
                      <route-map>
                        <inout>out</inout>
                        <route-map-name>Allow</route-map-name>
                      </route-map>
                      <send-community/>
                    </neighbor>
                    <redistribute>
                      <connected/>
                    </redistribute>
                  </ipv4-unicast>
                </vrf>
              </ipv4>
            </with-vrf>
      {% for peer in bgp %}         
            <no-vrf>
              <vpnv4>
                <af-name>unicast</af-name>
                <vpnv4-unicast>
                  <neighbor>
                    <id>{{ peer.neighbor }}</id>
                    <activate/>
                    <send-community>
                      <send-community-where>extended</send-community-where>
                    </send-community>
                  </neighbor>
                </vpnv4-unicast>
              </vpnv4>
            </no-vrf>
      {% endfor %}       
          </address-family>
      {% endfor %}          
        </bgp>
      {% if isis is defined %}  
        <isis xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-isis">
          <metric-style>
            <wide/>
          </metric-style>
          <is-type>level-2-only</is-type>
          <net>
            <tag>49.0001.0000.0000.000{{ (loopback0_ip_address)[-1] }}.00</tag>
          </net>
        </isis>
        {% endif %}
      </router>            
    </native>
</config>