 <config>
    <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
      <hostname>{{ hostname }}</hostname>
      {% for vrf in vrfs %}
      <vrf operation="replace">
        <definition>
          <name>backbone</name>
          <rd>{{ bgp_asn }}:{{ (loopback0_ip_address)[-1] }}</rd>
          <address-family>
            <ipv4/>
          </address-family>
          <route-target>
            <export>
              <asn-ip>{{ vrf.route_target }}</asn-ip>
            </export>
            <import>
              <asn-ip>{{ vrf.route_target }}</asn-ip>
            </import>
          </route-target>
        </definition>
      </vrf>
      {% endfor %}
      <ip>
        <route>
          <ip-route-interface-forwarding-list>
            <prefix>0.0.0.0</prefix>
            <mask>0.0.0.0</mask>
            <fwd-list>
              <fwd>192.168.99.1</fwd>
            </fwd-list>
          </ip-route-interface-forwarding-list>
        </route>
      </ip>
      <interface>
      {% for interface in interfaces %}
        <GigabitEthernet>
          <name>{{ interface.interface_id }}</name>
      {% if interface.isis is defined %}       
          <mpls>
            <ip xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-mpls"/>
          </mpls>
      {% endif %}    
          <ip>
            <address>
              <primary>
                <address>{{ interface.ip_address }}</address>
                <mask>{{ interface.maks }}</mask>
              </primary>
            </address>
      {% if interface.isis is defined %}      
            <router>
              <isis/>
            </router> 
      {% endif %}           
          </ip>
          <mop>
            <enabled>false</enabled>
            <sysid>false</sysid>
          </mop>
          <negotiation xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ethernet">
            <auto>true</auto>
          </negotiation>
        </GigabitEthernet>
        {% endfor %}
        <Loopback>
          <name>0</name>
          <ip>
            <address>
              <primary>
                <address>{{ loopback0_ip_address }}</address>
                <mask>255.255.255.255</mask>
              </primary>
            </address>
            <router>
              <isis/>
            </router>
          </ip>
        </Loopback>
      </interface>
    </native>
</config>